body{
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  background: white;
  color: black;
  padding: 10px 30px;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}
